
.join {
    width: 30rem;
}

.joinButton {
    background-color: var(--taca-primary);
    border-width: 0;
}

.joinButton:hover {
    border: 0;
    background-color: var(--taca-primary);
    filter: brightness(150%);
}
