/*https://coolors.co/5b2a86-8d86c9-08090a*/
/*
Primary: #5B2A86
Secondary: #8D86C9
Other: #08090A
 */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background: url("https://images.unsplash.com/photo-1604208485423-f19bc2aaae2d?ixid=MnwyNjI1Nzd8MHwxfHNlYXJjaHwyfHxhbmdyeXxlbnwxfDB8fHwxNjM3OTA3NjA2&ixlib=rb-1.2.1") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    color: #fff;
    background-color: var(--taca-secondary);
}

.card-header {
    background-color: var(--taca-other);
    color: #fff;
}

.tacaButton {
    background-color: var(--taca-primary);
    border-width: 0;
}

.tacaButton:hover {
    border: 0;
    background-color: var(--taca-primary);
    filter: brightness(150%);
}

.card-footer {
    background-color: var(--taca-secondary);
}

:root {
    --taca-primary: #5B2A86;
    --taca-secondary: #8D86C9;
    --taca-other: #08090A;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

